/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.task-manager-container {
  font-size: larger;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 50%;
  text-align: center;
  background: #f9f9f9;
  box-shadow: 5px 10px 8px rgba(132, 25, 189, 0.1);
  border-radius: 8px;
}

.title {
  color: #333;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: x-large;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

/* Form Styles */
.form-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.input {
  flex: 1 1 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

/* Table Styles */
.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.table-container h1 {
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}

.search-bar {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  font-size: larger;
}

.task-table th, .task-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.task-table th {
  background: #53575b;
  color: #fff;
}

/* Button Styles */
.btn {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: large;
}

.edit-btn, .delete-btn {
  align-items: center;
  gap: 5px;
  background-color: #41413e;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: #6e6e6c;
}

.delete-btn {
  background: #d83a29;
}

.delete-btn:hover {
  background-color: #f9604f;
}

.add-btn {
  background: #16629f;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

.add-btn:hover {
  background-color: #2679be;
}

.update-btn {
  background-color: rgb(10, 196, 10);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

.update-btn:hover {
  background-color: rgb(69, 205, 69);
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #16629f;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.3s;
}
.pagination button:hover {
  background-color: #3a9beb;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

/* Spinner Overlay */
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }

  .task-table {
    font-size: medium;
  }

  .pagination button, .pagination span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }
  

  .search-bar {
    width: 100%;
  }

  .task-table th, .task-table td {
    font-size: small;
  }
}
